.content {
  height: 100%;
}

.column {
  display: flex !important;
  flex-direction: column;
}

.columns {
  flex: 1;
}

.status-box {
  flex: 1;
  align-self: flex-end;
  width: 25px;
  border-radius: 5px;
  height: 100%;
}

.status-box.green {
  background-color: green;
}

.status-box.red {
  background-color: red;
}

.tariff-container * {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.log-box {
  height: 75vh;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .status-box {
    flex: none;
    width: 100%;
    height: 25px;
  }
}
